<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gutendex Lookup</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if mobile %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style mobile.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endif %}
</head>

<body>
    <div class="sidebar">
        <div class="menu">
            <ul>
                <li>
                    <h3><i class="fa fa-book"></i> Library</h3>
                </li>
                <ul>
                    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                </ul>
                <li>
                    <h3><i class="fa fa-line-chart"></i> Statistcs</h3>
                </li>
                <ul>
                    <li><a href="/bookcount"><i class="fa fa-database"></i> Book Count</a></li>
                    <li><a href="//readership/en"><i class="fa fa-eye"></i> Readership</a></li>
                    <li><a href="/status"><i class="fa fa-stethoscope"></i> Status</a></li>
                </ul>
            </ul>
        </div>
        <div class="menu-button">
            <a class="open-close-menu"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="master">
        <div class="header">
            <div class="logo-container">
                <a href="/"><img src="{{ url_for('static', filename='logo.png')  }}"></a>
            </div>
        </div>
        <div class="bc-container">
            <div class="bc-search">
                <div class="search-container">
                    <select id="language-select-readership">
                        {% for lang in support_languages %}
                        {% if lang.two_letter in language %}
                        <option value="{{ lang.two_letter }}" selected>{{ lang.name }}</option>
                        {% else %}
                        <option value="{{ lang.two_letter }}">{{ lang.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    {% if limit %}
                    <input type="number" id="number-input-readership" placeholder="Limit" value="{{ limit }}">
                    {% else %}
                    <input type="number" id="number-input-readership" placeholder="Limit">
                    {% endif %}
                    <button id="search-button-readership"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
            {% for result in results %}
            <div class="book">
                <a href="{{ result.map }}" target="_blank" rel="noopener noreferrer">
                    <h2><img id="flag" src="{{ result.flag }}" alt="{{ result.flagAlt }}">{{ result.country }}</h2>
                    <h1>{{ result.isocode }}</h1>
                    <p>Books: {{ result.books}}</p>
                    <p>Authors: {{ result.authors}}</p>
                    <p>Readership: {{ result.readership}}</p>
                    <div class="overlay">
                        <i class="fa fa-map" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>